<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Plan</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{% url 'travelbuddy:index'}">Home</a>
            <a href="{% url 'login:logout'}">Logout</a>
        </div>
        <div class="content">
            create.html
        </div>
    </div>

</body>
</html>
