<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Dashboard</title>
</head>
<body>
    <div class="container">
        div.<header>
            <a href="{% url 'login:logout' %}">Logout</a>
        </header>
        index.html

        <h1>Your Trip Schedules</h1>
        <p>table goes here</p>

        <h1>Other User's Travel Plans</h1>
        <p>table goes here</p>
    </div>

</body>
</html>
